@charset "utf-8";
@import "../../../../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

// Set your brand colors
$purple: #732CCD;
$black: #000000;
$gray: #999999;
$white: #FFFFFF;

// Update Bulma's global variables
$family-dosis: 'Dosis', sans-serif;
$family-roboto: 'Roboto', sans-serif;
$family-great-vibes: 'Great Vibes', cursive;
$primary: $purple;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// What we need from Bulma - We can remove the ones we don't needd
@import "../../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../../node_modules/bulma/sass/layout/section.sass";

body {
    font-family: 'Roboto';
    color: #000000;
    background-image: url('../../../../public/static/background-image.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.widget-button {
    background-color: $purple;
    color: $white !important;
    display: block;
    width: 250px;
    height: 3.2rem;
    margin: 0 auto;
    padding: 01rem 0rem;
    font-size: 1rem;
    font-family: $family-dosis;
    border: none;
}

.main {
   hr{
       visibility: hidden;
   }
    @include tablet{
        width: 362px;
        margin-top: 230px;
        h2, p{
           text-align: left !important; 
        }
        #h2-hello{
            position: absolute;
            width: 62px;
            height: 36px;
            left: 80px;
            top: 428px;
        }
        hr{
            position: absolute;
            width: 57px;
            left: 82px;
            top: -8px;
            border: 1px solid #000000;
            visibility: visible;
        }
        #we-are{
            font-size: 36px !important;
            line-height: 150%;
        }
        #garage-phase{
            font-size: 72px !important;
        }
        .column{
            margin: 0 !important;
            padding: 0 !important;

            .button{
                @include tablet{
                    position: absolute;
                    width: 228px;
                    margin: 20px 0;
                }
            }
        }
    }
}

.logo img {
    width: 222px;
    margin: auto;

    @include tablet{
        margin-left: 0%;
        margin-top: -2.5rem;
    }
}

/** footer style **/
.page-footer{
    @include mobile{
        margin: 0 auto;
    }
    padding: 2rem 0;
    text-align: center;
    display: table;
    font-family: $family-dosis;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

        .footer-icons{
            margin: 0 0 1rem 0;

            @include tablet{
                margin-left: -20px;
                margin-top: 70px;
            }
        }

        .footer-social_media{
                margin: .5rem;
        }

        #footer-copyright{
            @include tablet{
                background-color: #ffffff69;
                left: 50%;
                position: absolute;
                padding: .2rem;
            }
        }
}