.card.fact{
    margin: 1em;
    width: 100%;
    flex: 0 0 30%;
}
.card-img{
    width: 3em !important;
    height: 3em;
    border-radius: 30px !important;
    margin-top: -1em;
}

li.main-menu a{
    color: #000000;
}

li.main-menu a:hover {
  color: #ffa500;
  text-decoration: none;
}
.btn.btn-card{
    color: #ffffff;
    border-radius: 30px;
    position: absolute;
    bottom: 10px;
    margin-left: -15%;
}
.orange{
    background-color: #ffa500 !important;
}
.gray{
    background-color: #dad2c4 !important;
}
.intro{
    background-color: #ffa500;
    width: 100%;
    align-content: left;
    padding: 1em;
}
.margin-4m{
    margin: 4em;
    align-content: center;
}
.row.margin-4m .about-intro{
    margin: 0 auto;
    padding: 10px;
}
.row.margin-4m span{
    font-size: 14px;
    color: #8b8787;
    margin: 1em 0;
}
.belief{
    margin: 2em 0;
    padding: 10px;
    display: flex;
}
.svg{
    width: 180px;
    height: 50px;
    border: 1px solid #c0c0c0;
    border-radius: 40px;
    align-content: center;
}
.svg svg, .svg i{
    color: #ffa500;
    width: 100%;
    padding: 10px 5px;
    height: 100%;
}
.svg i{
    font-size: 50px;
}
.svg.get-involved{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.belief .text{
    margin: 0 4px;
}
.contain{
    background-color: #eef4f5;
    padding: 5px 0;
}
.footer-section li.main-menu {
    margin: 10px 0;
    display: flex;
}
.footer-section i{
    color: #ffa500;
}
.footer-section .social i{
    font-size: 22px;
}
.footer-section .social i:hover{
    color: #000000;
    cursor: pointer;
}
@media (max-width: 768px){
    .footer-section .col-lg-2{
        width: 50%;
        justify-content: center;
        display: grid;
    }
    .footer-section li.main-menu {
        margin: 5px 0;
    }
}